<footer class="site-footer">
  <ul class="social-links">
    <li><a href="https://www.instagram.com/brgrrebellion/" title="Instagram"><img src="{{ site.baseurl }}/img/instagram.png" alt="Instagram"></a></li>
    <li><a href="https://www.instagram.com/brgrrebellion/" title="Facebook"><img src="{{ site.baseurl }}/img/facebook.png" alt="Facebook"></a></li>
    <li><a href="https://www.instagram.com/brgrrebellion/" title="Twitter"><img src="{{ site.baseurl }}/img/twitter.png" alt="Tiwtter"></a></li>
  </ul>
</footer>
