<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-links">
      <li><a href="https://www.instagram.com/brgrrebellion/" title="Instagram"><img src="{{ site.baseurl }}/img/instagram.svg" alt="Instagram"></a></li>
      <li><a href="https://www.facebook.com/brgrrebellion" title="Facebook"><img src="{{ site.baseurl }}/img/facebook.svg" alt="Facebook"></a></li>
      <li><a href="https://twitter.com/brgrrebellion" title="Twitter"><img src="{{ site.baseurl }}/img/twitter.svg" alt="Tiwtter"></a></li>
    </ul>

    <img class="icon icon-footer" src="{{ site.baseurl }}/img/br-icon.svg" alt="Burger Rebellion">
  </div>
</footer>
