<header class="site-header">
  <ul class="social-links">
    <li><a href="https://www.facebook.com/brgrrebellion" title="Facebook"><img src="{{ site.baseurl }}/img/facebook.svg" alt="Facebook"></a></li>
    <li><a href="https://www.instagram.com/brgrrebellion/" title="Instagram"><img src="{{ site.baseurl }}/img/instagram.svg" alt="Instagram"></a></li>
  </ul>
  <img class="header-img header-img-lg" src="{{ site.baseurl }}/img/the-zealot-lg.jpg" alt="The Zealot burger">
  <img class="header-img header-img-sm" src="{{ site.baseurl }}/img/the-zealot-sm.jpg" alt="The Zealot burger">

  <div class="brand text-center">
    <img class="logo" src="{{ site.baseurl }}/img/br-logo-horizontal.svg" alt="Burger Rebellion">
    <h1>Sarnia's Burger Joint</h1>
  </div>
</header>

