<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:type" content="restaurant.restaurant">
  <meta property="og:title" content="Burger Rebellion">
  <meta property="og:url" content="https://www.burgerrebellion.ca">
  <meta property="og:description" content="Sarnia's Burger Joint">
  <meta property="og:image" content="https://www.burgerrebellion.ca/img/the-zealot.jpg">
  <meta property="restaurant:contact_info:website" content="https://www.burgerrebellion.ca">
  <meta property="restaurant:contact_info:locality" content="Sarnia">
  <meta property="restaurant:contact_info:region" content="Ontario">
  <meta property="restaurant:contact_info:country_name" content="Canada">
  <meta property="restaurant:contact_info:email" content="info@burgerrebellion.ca">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@brgrrebellion">
  <meta name="twitter:title" content="Burger Rebellion">
  <meta name="twitter:description" content="Sarnia's Burger Joint">
  <meta name="twitter:image" content="https://www.burgerrebellion.ca/img/the-zealot.jpg">

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Burger Rebellion",
    "description": "Sarnia's Burger Joint",
    "image": "https://www.burgerrebellion.ca/img/br-profile-pic.jpg",
    "@id": "https://www.burgerrebellion.ca",
    "url": "https://www.burgerrebellion.ca",
    "sameAs": ["https://www.facebook.com/brgrrebellion","https://www.twitter.com/brgrrebellion","https://plus.google.com/+BurgerRebellionSarnia","https://instagram.com/brgrrebellion"],
    "location":
    [
      {
        "@type": "Restaurant",
        "parentOrganization": { "name": "Burger Rebellion" },
        "name" : "Burger Rebellion - Downtown",
        "image": "https://www.burgerrebellion.ca/img/br-profile-pic.jpg",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Sarnia",
          "addressRegion": "Ontario",
          "postalCode": "N7T1A2",
          "streetAddress": "108 Davis St"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 42.97103,
          "longitude": -82.4093027
        },
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Sunday"
          ],
          "opens": "11:00",
          "closes": "20:30"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Friday",
            "Saturday"
          ],
          "opens": "11:00",
          "closes": "23:30"
        }],
        "telephone" : "+1 519-704-1340",
        "sameAs": "https://www.facebook.com/burgerrebelliondowntown",
        "priceRange": "$$",
        "servesCuisine": "Hamburgers",
        "hasMenu": "https://www.burgerrebellion.ca",
        "paymentAccepted":"Cash, Credit Card"
      },
      {
        "@type": "Restaurant",
        "parentOrganization": { "name": "Burger Rebellion" },
        "name" : "Burger Rebellion - Midtown",
        "image": "https://www.burgerrebellion.ca/img/br-profile-pic.jpg",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Sarnia",
          "addressRegion": "Ontario",
          "postalCode": "N7S1P7",
          "streetAddress": "1326 London Rd"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 42.980443,
          "longitude": -82.3569621
        },
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Sunday"
          ],
          "opens": "11:00",
          "closes": "24:00"
        },{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Thursday",
            "Friday",
            "Saturday"
          ],
          "opens": "11:00",
          "closes": "02:00"
        }],
        "telephone" : "+1 519-704-0293",
        "sameAs": "https://www.facebook.com/burgerrebellionmidtown",
        "priceRange": "$$",
        "servesCuisine": "Hamburgers",
        "hasMenu": "https://www.burgerrebellion.ca",
        "paymentAccepted":"Cash, Credit Card"
      }
    ]
  }
  </script>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  <script>
    !function(e,t,n,a,r,c,l,s,o){l=a[r],l&&(s=e.createElement("style"),s.innerHTML=l,e.getElementsByTagName("head")[0].appendChild(s),e.documentElement.className+=" wf-cached"),o=t[n],t[n]=function(e,p,u,i){if("string"==typeof p&&p.indexOf(c)>-1){try{u=new XMLHttpRequest,u.open("GET",p,!0),u.onreadystatechange=function(){try{4==u.readyState&&(i=u.responseText.replace(/url\(\//g,"url("+c+"/"),i!==l&&(a[r]=i))}catch(e){s&&(s.innerHTML="")}},u.send(null)}catch(d){}t[n]=o}return o.apply(this,arguments)}}(document,Element.prototype,"setAttribute",localStorage,"tk","https://use.typekit.net");
  </script>
  <script>
    (function(d) {
      var config = {
        kitId: 'gif8cjy',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <script src='../js/micromodal.min.js'></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
