<header class="site-header">
  <!-- <div class="notification">
    Online ordering is currently down as our truck undergoes some maintenance. We'll hopefully be back in a jiffy.
  </div> -->
  <ul class="social-links">
    <li><a href="https://www.instagram.com/brgrrebellion/" title="Instagram"><img src="{{ site.baseurl }}/img/instagram.svg" alt="Instagram"></a></li>
    <li><a href="https://www.facebook.com/brgrrebellion" title="Facebook"><img src="{{ site.baseurl }}/img/facebook.svg" alt="Facebook"></a></li>
    <li><a href="https://twitter.com/brgrrebellion" title="Twitter"><img src="{{ site.baseurl }}/img/twitter.svg" alt="Tiwtter"></a></li>
  </ul>

  <div class="wrapper">
    <img class="icon icon-left" src="{{ site.baseurl }}/img/br-icon.svg" alt="Burger Rebellion">
    <img class="icon icon-right" src="{{ site.baseurl }}/img/br-icon.svg" alt="Burger Rebellion">
    <img class="logo" src="{{ site.baseurl }}/img/br-text.svg" alt="Burger Rebellion">
    <h6>A food truck in downtown Sarnia</h6>
    <a href="http://order.burgerrebellion.ca/" class="btn">Order takeout online</a>
  </div>

</header>
