<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1536763016623739";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  FB.Event.subscribe('edge.create', function(targetUrl) {
    _gaq.push(['_trackSocial', 'facebook', 'like', targetUrl]);
  });

  FB.Event.subscribe('edge.remove', function(targetUrl) {
    _gaq.push(['_trackSocial', 'facebook', 'unlike', targetUrl]);
  });
</script>

<header class="site-header">
  <ul class="social-links">
    <li><a href="https://www.instagram.com/brgrrebellion/" title="Instagram"><img src="{{ site.baseurl }}/img/instagram.png" alt="Instagram"></a></li>
    <li><a href="https://www.facebook.com/brgrrebellion" title="Facebook"><img src="{{ site.baseurl }}/img/facebook.png" alt="Facebook"></a></li>
    <li><a href="https://twitter.com/brgrrebellion" title="Twitter"><img src="{{ site.baseurl }}/img/twitter.png" alt="Tiwtter"></a></li>
  </ul>

  <div class="wrapper">
    <img class="icon icon-left" src="{{ site.baseurl }}/img/br-icon.svg" alt="Burger Rebellion">
    <img class="icon icon-right" src="{{ site.baseurl }}/img/br-icon.svg" alt="Burger Rebellion">
    <img class="logo" src="{{ site.baseurl }}/img/br-text.svg" alt="Burger Rebellion">

    <div class="fb-btn">
      <div class="fb-like" data-href="https://www.facebook.com/brgrrebellion/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
  </div>

</header>
