body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // padding-top: 10px;
  // padding-bottom: 10px;
}

/**
 * Border
 */
/* Create a series of empty pseudo-elements... */
// html:before,html:after,body:before,body:after{
//     content:"";
//     background:$orange;
//     position:fixed;
//     display:block;
//     z-index:5;
// }

/* ...and position them! */
// html:before{
//     height:10px;
//     left:0;
//     right:0;
//     top:0;
// }
// html:after{
//     width:10px;
//     top:0;
//     right:0;
//     bottom:0;
// }
// body:before{
//     height:10px;
//     right:0;
//     bottom:0;
//     left:0;
// }
// body:after{
//     width:10px;
//     top:0;
//     bottom:0;
//     left:0;
// }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: "industry", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
    // border-top: 5px solid $orange;
}

.social-links {
    list-style: none;
    text-align: center;
    margin-left: 0;
    margin-bottom: $spacing-unit;
    background: $cream;
    padding: $spacing-unit/2;

    li {
        display: inline-block;
        margin: 0 5px;

        a {
            display: block;
        }
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.logo {
    display: block;
    max-width: 300px;
    margin: 0 auto $spacing-unit auto;
}

.icon {
    max-width: 70px;
    margin-top: 30px;
    @include media-query($on-palm) {
        display: none;
    }
}

.icon-left {
    float: left;
}

.icon-right {
    float: right;
}

.fb-btn {
    text-align: center;
    min-height: 24px;
}


/**
 * Homepage
 */
.grid {
    border-top: 1px solid $cream;
    padding-top: $spacing-unit;
}

table {
    width: 100%;
    font-family: "industry", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    table-layout: fixed;

    th, td {
        vertical-align: top;
    }

    th {
        text-align: left;
        font-weight: 600;

        p {
            font-family: $base-font-family;
            font-weight: $base-font-weight;
            text-transform: none;
            letter-spacing: 0;
            line-height: 1.1;
            margin-bottom: $spacing-unit/4;
        }
    }
    td {
        text-align: right;
    }

    tr.table-break {
        height: 16px;
    }
}

table.hours {
    margin-bottom: $spacing-unit;
    th {
        width: 90px;
    }
    // td {
    //     width: 80%;
    // }
}

// table.menu {
//     th {
//         width: 80%;
//     }
//     td {
//         width: 20%;
//     }
// }

.location-heading {
    margin-bottom: $spacing-unit/4;
}

h1, h2 {
    color: $gold;
}



@include media-query($on-laptop) {
  .menu-col {
    padding-right: 0 !important;
  }
}

@include media-query($on-palm) {

}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.icon-footer {
    @include media-query($on-palm) {
        display: inline;
    }
}


/**
 * Columns
 */
// .col-wrapper {
//     margin-left: -$spacing-unit / 2;
//     @extend %clearfix;
// }

// .col {
//     float: left;
//     margin-bottom: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
// }

// .col-1 {
//     width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//     width:         calc(35% - (#{$spacing-unit} / 2));
// }

// .col-2 {
//     width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//     width:         calc(20% - (#{$spacing-unit} / 2));
// }

// .col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }

// @include media-query($on-laptop) {
//     .col-1,
//     .col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }

//     .col-3 {
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }

// @include media-query($on-palm) {
//     .col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
