/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: "industry", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
    padding-bottom: $spacing-unit;
    border-top: 2px solid $orange;

    .wrapper {
        text-align: center;
    }
}

.social-links {
    list-style: none;
    text-align: center;
    margin-left: 0;
    margin-bottom: $spacing-unit;
    background: $cream;
    padding: $spacing-unit/2;

    li {
        display: inline-block;
        margin: 0 5px;

        a {
            display: block;
        }
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.logo {
    display: block;
    max-width: 300px;
    margin: 0 auto $spacing-unit*1.25 auto;
}

.icon {
    max-width: 70px;
    margin-top: 30px;
    @include media-query($on-palm) {
        display: none;
    }
}

.icon-left {
    float: left;
}

.icon-right {
    float: right;
}

// .fb-btn {
//     text-align: center;
//     min-height: 24px;
// }

a.btn {
    font-family: "industry", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: $cream;
    background: $orange;
    border: 2px solid $gold;
    padding: 10px 12px 8px;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
        background: $gold;
        color: $cream;
        text-decoration: none;
    }
}


/**
 * Homepage
 */
.grid {
    border-top: 1px solid $cream;
    padding-top: $spacing-unit;
}

table {
    width: 100%;
    font-family: "industry", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    table-layout: fixed;
    color: $gold;

    th, td {
        vertical-align: top;
    }

    th {
        text-align: left;
        font-weight: 600;

        p {
            font-family: $base-font-family;
            font-weight: $base-font-weight;
            text-transform: none;
            letter-spacing: 0;
            line-height: 1.1;
            margin-bottom: $spacing-unit/4;
            color: $cream;
        }
    }
    td {
        text-align: right;
    }

    tr.table-break {
        height: 16px;
    }

    span {
        font-size: 10px;
    }
}

table.hours {
    margin-bottom: $spacing-unit;
    color: $cream;
    th {
        width: 90px;
    }
}

table.menu {
    td {
        width: 70px;
    }
}

.location-heading {
    margin-bottom: $spacing-unit/4;
}

h1, h2 {
    color: $gold;
}



@include media-query($on-laptop) {
  .menu-col {
    padding-right: 0 !important;
  }
}

@include media-query($on-palm) {

}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    text-align: center;
}

.icon-footer {
    @include media-query($on-palm) {
        display: inline;
    }
}